#main2 {
    background-color: rgb(133, 133, 133);
}
div{
    background-color: springgreen;
}

.main#main2 {
    background-color: rgb(226, 94, 33);
}
.main.border-div {
    border-style: solid;
    background-color: darkred;
}
.main{
    border-style: dotted !important;
}
.main p {
    font-size: 35px ;
}